<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
		<session-factory>
			<!--配置数据库连接的四要素  -->
			<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
			<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/day61</property>
			<property name="hibernate.connection.username">root</property>
			<property name="hibernate.connection.password">045692</property>
			
			<!--配置显示sql  -->
			<property name="hibernate.show_sql">true</property>
			
			<!--配置显示方言  -->
			<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
			
			<!--配置串c3p0供应商的链接 -->
			<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
			<!--配置最大连接数  -->
			<property name="hibernate.c3p0.max_size">10</property>
			<!--配置最小连接数  -->
			<property name="hibernate.c3p0.min_size">5</property>
			<!--配置最长等待连接时间  -->
			<property name="hibernate.c3p0.timeout">3000</property>
			<!--配置最多操作连接数  -->
			<property name="hibernate.c3p0.max_statements">9</property>
			
			<!-- 配置显示当前线程 -->
			<property name="hibernate.current_session_context_class">thread</property>
			
			<!--更新和创建数据库表  -->
			<property name="hibernate.hbm2ddl.auto">update</property>
			
			<!--配置映射实体类文件  -->
			<mapping resource="com/itheima/po/Customer.hbm.xml"/>
		</session-factory>
	</hibernate-configuration>